* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #101725; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #19293b,
    101725
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #19293b,
    #101725
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 40px;
  text-align: center;
  background-color: rgba(2, 2, 24, 0.123);
  border-radius: 5%;
  transition: 1s;
}

section:hover {
  background-color: rgba(2, 2, 24, 0.034);
  padding: 60px;
  border: 1px solid rgba(0, 0, 0, 0.082);
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

.relogio {
  width: 300px;
  height: 300px;
  border: 5px solid #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.relogio:hover {
  width: 310px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.541);
  border: 10px solid #fff;
}

.riscos {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -3px;
}
.risco {
  width: 145px;
  height: 5px;
  position: absolute;
  transform-origin: left;
  display: flex;
  justify-content: flex-end;
}
.risco .ponto {
  width: 15px;
  height: 110%;
  background-color: #fff;
}

.ponteiros {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -100%;
}
.p {
  transform-origin: left;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
}

.p_s {
  width: 100px;
  height: 3px;
  background-color: #f00;
}
.p_m {
  width: 120px;
  height: 7px;
  background-color: #fff;
}
.p_h {
  width: 70px;
  height: 10px;
  background-color: #fff;
}
.encaixe {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;
}
.digital {
  color: #fff;
  font-size: 40px;
  margin-top: 20px;
}
